<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label class="control-label" for="startdate">Start date</label>
                                    <p class="input-group">
                                        <input type="text" class="form-control" id="startdate" ng-model="vm.startdate" placeholder="YYYY-MM-DD" name="startdate" aria-describedby="inputError2Status" uib-datepicker-popup is-open="vm.popup.opened" datepicker-options="vm.dateOptions" ng-change="vm.setenddate()"> <span class="input-group-btn">
                                    <butenddaten type="butenddaten" class="btn btn-default" ng-click="vm.open()"><i class="glyphicon glyphicon-calendar"></i></butenddaten>
                                </span> </p>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label class="control-label" for="enddate">End date</label>
                                    <p class="input-group">
                                        <input type="text" class="form-control" id="enddate" ng-model="vm.enddate" placeholder="YYYY-MM-DD" name="enddate" aria-describedby="inputError2Status" uib-datepicker-popup is-open="vm.popup2.opened" datepicker-options="vm.dateOptions2" ng-disabled="!vm.startdate"> <span class="input-group-btn">
                                    <butenddaten type="butenddaten" class="btn btn-default" ng-click="vm.open2()"><i class="glyphicon glyphicon-calendar"></i></butenddaten>
                                </span> </p>
                                </div>
                            </div>
                            <div class="col-sm-2 col-md-2">
                                <div class="form-group">
                                    <label class="control-label" for="state">State</label>
                                    <select class="form-control" id="state" ng-model="vm.state" name="state" aria-describedby="inputError2Status">
                                        <option>FL</option>
                                        <option>OH</option>
                                        <option>GA</option>
                                        <option>LA</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2 col-md-2">
                                <label class="control-label">&nbsp;</label>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success" ng-click="vm.searchLogs()"> <i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body table-responsive responsive enddate-table">
                    <br />
                    <br />
                    <table datatable="ng" dt-options="vm.dtOptions" class="table table-striped table-hover table-bordered table-responsive responsive">
                        <thead>
                            <tr>
                                <th class="text-center">State Code</th>
                                <th class="text-center">Pro Code</th>
                                <th class="text-center">Profession</th>
                                <th class="text-center">License ID</th>
                                <th class="text-center">Cycle End Date</th>
                                <th class="text-center">Compliance Status</th>
                                <th class="text-center">Client ID</th>
                                <th class="text-center">Start Log Date</th>
                                <th class="text-center">End Log Date</th>
                                <th class="text-center">Environment</th>
                                <th class="text-center">Machine</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="log in vm.logs">
                                <td class="text-center">{{log.cd_cebroker_state}}</td>
                                <td class="text-center">{{log.pro_cde}}</td>
                                <td class="text-center">{{log.cd_profession}}</td>
                                <td class="text-center">{{log.id_license}}</td>
                                <td class="text-center">{{log.dt_end}}</td>
                                <td class="text-center">{{log.ds_compl_status_returned}}</td>
                                <td class="text-center">{{log.id_client_nbr}}</td>
                                <td class="text-center">{{log.dt_Start_Log}}</td>
                                <td class="text-center">{{log.dt_end_log}}</td>
                                <td class="text-center">{{log.cd_environment}}</td>
                                <td class="text-center">{{log.cd_machine}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="text-center text-muted">STATS</h3>
                    <div class="col-sm-3 col-md-3">
                        <dl>
                            <div class="col-xs-12 descrip_show"> <dt class="text-primary">Total Average Response Time:</dt>
                                <dd>{{vm.t_average_resp}} milliseconds</dd>
                            </div>
                        </dl>
                    </div>
                    <div class="col-sm-3 col-md-3">
                         <nvd3 options="vm.options" data="vm.data"></nvd3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
