<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body table-responsive responsive to-table">
                    <br />
                    <br />
                    <table datatable="ng" class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center col-xs-2">Código</th>
                                <th class="text-center col-xs-3">Nombre</th>
                                <th class="text-center col-xs-3">Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center col-xs-2">xx</td>
                                <td class="text-center col-xs-3">xxx</td>
                                <td class="text-center col-xs-3">xxx</td>
                            </tr>
                            <tr>
                                <td class="text-center col-xs-2">xx</td>
                                <td class="text-center col-xs-3">xxx</td>
                                <td class="text-center col-xs-3">xxx</td>
                            </tr>
                            <tr>
                                <td class="text-center col-xs-2">xx</td>
                                <td class="text-center col-xs-3">xxx</td>
                                <td class="text-center col-xs-3">xxx</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>